asgiref==3.7.2
Babel==2.13.0
backports.zoneinfo;python_version<"3.9"
Django==3.2.22
django-cors-headers==4.1.0
django-extra-views==0.14.0
django-haystack==3.2.1
django-oscar==3.2
django-phonenumber-field==6.4.0
django-tables2==2.3.4
django-treebeard==4.6.0
django-widget-tweaks==1.4.12
factory-boy==3.2.1
Faker==18.13.0
phonenumbers==8.13.22
Pillow==9.5.0
psycopg==3.1.12
psycopg2-binary==2.9.9
purl==1.6
pycountry==22.3.5
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
sorl-thumbnail==12.6.3
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
