{% load static %}

<!DOCTYPE html>
<!--
Created by: Anavya <anavya.in@gmail.com>
Created by: Nikhil Kumar <nikhilsingh.21sep@gmail.com>
-->

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Learts – Handmade Shop eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.webp">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/customFonts.css' %}">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/ion.rangeSlider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/photoswipe-default-skin.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="{% static 'css/vendor/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <title>Gift It All</title>
    {% block customheadend %}{% endblock %}
</head>
<body>
{% block content %}{% endblock content %}

   <!-- JS============================================ -->

    <!-- Vendors JS -->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-migrate-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'js/plugins/mo.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'js/plugins/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/plugins/photoswipe.min.js' %}"></script>
    <script src="{% static 'js/plugins/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/plugins/ResizeSensor.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'js/plugins/product360.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/plugins/scrollax.min.js' %}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <script src="{% static 'js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'js/plugins/plugins.min.js' %}"></script> -->

    <!-- Main Activation JS -->
    <script src="{% static 'js/main.js' %}"></script>
{% block custombodyend %}{% endblock %}

</body>
</html>
